body {
    max-width: 2560px;
    max-height: 1024px;
    min-height: 200px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-around;

    .container {
        align-content: center;
        background-color: none;
        min-width: 85%;
        max-width: 85%;
        min-height: 50%;
        max-height: 90%;
        overflow: auto;
        background-image: 'assets/image_1.jpg';
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #portrait {
        min-width: 100%;
        animation: load-content 2s;

    }
    .button {
        color: darkgray ;
        font-size: 300% ;
        height: 15%;
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.4;
        background-color: white;
        animation: load-content 2s;
    }
}


@keyframes load-content {
    from{opacity: 0}
    to{opacity: 1}
}

@media (max-width:1024px) {
    body {
        width: 100%;
        max-height: 768px;
        min-height: 480px;
        .container {
            min-height: 300px;
            max-height: 300px;
        }
        .button{
            height: 14%;
        }
    }
}

@media (max-width: 768px) {
    body{
        max-height: 768px;
        min-height: 768px;
        display: flex;
        flex-wrap: wrap;
        #right-button {
            order:3;
        }
        .container {
            min-width: 750px;
            max-width: 750px;
        }
        #left-button {
            order:2;
        }
        .button{
            width: 15%;
            height: 15%;
            font-size: 200%;
            border-radius: 50%;
            
        }
        #portrait {
            height: 50%;
            width: 90%;
            order:1;
        }
    }
}
@media (max-width: 320px) {
    body{
        font-size: 50%;
        max-height: 300px;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        max-height: 300px;
        #right-button {
            order:3;
        }
        .container {
            min-width: 310px;
            max-width: 310px;
            max-height: 480px;
            min-height: 300px;
            
        }
        #left-button {
            order:2;
        }
        .button{
            width: 20%;
            height: 20%;
            font-size: 200%;
            border-radius: 50%;
            
        }
        #portrait {
            height: 50%;
            order:1;
        }
    }
}
    


